
.imagem{
    text-align: center;
    background-color: hsl(240, 70%, 53%) 
}

ul{
    text-align: center;
    list-style: none;
    color: blue;
}

a{
    font-size: 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

h1{
    font-size: 20px;
    text-align: center;
    color: blue;
}

h2{
color: blue;
border-bottom: 2px black solid;
}

h3{
    color: blue;
    border-bottom: 2px black solid;
    font-family: Verdana;
}

h4{
    color: blue;
    border-bottom: 2px black solid;
}

h5{
    text-align: center;
    color: blue;
}